name: Release
on:
  workflow_dispatch:
  # Release patches and security updates on a schedule
  schedule:
    - cron: "0 0 1 * *"

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:

    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v6
      with:
        node-version: 20

    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install semantic-release
      run: yarn global add --no-progress --non-interactive "semantic-release" "@semantic-release/exec" "conventional-changelog-conventionalcommits"

    - name: Run semantic-release
      run: $(yarn global bin)/semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    # if: startsWith(github.ref, 'refs/tags/')
    needs: [tag]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: './go.mod'
        id: go

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
